# Ejercicios Pandas

In [1]:
import numpy as np
import pandas as pd

___

## Parte I

-  Crea un dataframe a partir de la siguiente lista y diccionario.

In [2]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

-  Muestra una descripción de los datos.

-  Muestra las 2 primeras filas.

-  Muestra la tercera columna.

-  Selecciona las columnas animal y age.

-  Elimina una de las columnas.

-  Elimina una de las filas.

-  Crea una columna nueva con los valores que quieras

---

## Parte II

- Seleciona los datos en las filas 3, 4 y 8 y en las columnas  animal y age.

- Reindexa el dataframe usando números secuenciales empezando por el cero.

- Seleciona las filas donde el número de vistas es mayor que 2.

- Usando los siguientes dataframe:

In [24]:
df_a = pd.DataFrame(np.random.randint(1, 10, 10),
                    index=np.arange(1, 11))
df_a

    0
1   2
2   7
3   7
4   1
5   5
6   9
7   5
8   6
9   5
10  3

- Calcula la resta de ambos y entiende el resultado.

- Utilizando el siguiente dataframe:

In [27]:
df = pd.DataFrame({"price": [5,2,3,1,4,5,6,7,8,3,4,8,9],
                   "hours"    :[1,9,6,5,3,9,2,9,1,7,4,2,2],
                   "happiness"   :[2,1,3,2,3,1,2,3,1,2,2,1,3],
                   "caffienated" :[0,0,1,1,0,0,0,0,1,1,0,1,0]})

- Calcula la media del precio.

- Calcula la mutltiplicación de price x hours.

- Crea un función que retorne 'coffee', cuando reciba 1 y 'nothing' cuando reciba 0.

- Cambia los valores de la columna caffienated usándola.