# Plots

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

___

## Plots

- Crea dos array (x e y):
    - x: 1000 números equiespaciados entre 0 a 3$\pi$
    - y: Resultado de aplicar la función $f(x) = \frac{1}{2}\sin^2(10 x) + \cos(x)$

- Crea un gráfico de y en función de x.

- Realiza el mismo gráfico anterior pero con una línea discontínua y verde

- Añade el título "Función f(x)", y nombra a los ejex "x" e "y"

- Añade una leyenda que diga "f(x)"

- Crea otro array z:
    - z: Resultado de aplicar la función $g(x) = \frac{1}{2}\sin(10 x) + \cos^2(x)$

- Crea un gráfico de dos columnas.
    - Realiza un plot sencillo de $f(x)$ y de $g(x)$ en cada uno de ellos

- Dibuja el mismo gráfico anterior pero con un estilo y color de línea diferente en cada uno.

- Aumenta el gráfico anterior de tamaño.

- Añade títulos a los ejes de cada figura, "x", "f(x)" y "g(x)"

- Guardalo en un fichero .png, .jpeg y .pdf.

- Ahora superpon en la misma figura ambas funciones con una legenda para cada una ('f(x)' y 'g(x)'), un título que diga "f(x) y g(x)", y nombra a los ejes "x" e "y".

---

## Distributions

- Crea dos arrays
    - normal: Un array de 1000 números aleatorios usando una distribución normal
    - chi: Un array de 1000 números aleatorios usando una distribución $\chi^2$ con 5 grados de libertad.

- Crea un scatter plot con los array anteriores.

- Crea un subplot de dos filas, y pinta en cada una de ellas un histograma para cada una de las distribuciones. Añade título y etiqueta los ejes como consideres.

- Ahora superpon ambas distribuciones en un único plot

---

## Pandas

- A partir del siguiente dataframe

In [71]:
s = pd.DataFrame(np.random.randn(100, 4).cumsum(axis=0)+100,
              index=np.arange(0, 100),
             columns=['S1', 'S2', 'S3', 'S4'])
s

            S1          S2          S3          S4
0    98.667600  100.123295   99.973150   99.389145
1   100.398847   99.647424   97.951353   98.074681
2   100.149118   98.850060   98.030371   97.698628
3   100.473702   98.671682   98.335572   97.225193
4   101.355052   98.891051   98.953483   97.662967
..         ...         ...         ...         ...
95  102.872528   85.938162  109.976565  111.974667
96  103.124286   84.285713  109.314318  111.082069
97  103.808234   84.955546  109.942144  112.123006
98  104.461323   85.369001  108.505791  111.465304
99  105.261758   84.212201  108.344149  112.746550

[100 rows x 4 columns]

- Pinta todas las series en un úncio plot.

- Ahora pintalas en plots separados

- Ahora pinta en un mismo gráfico una de las series anteriores y añade el volumen dado por la serie siguiente

In [74]:
s['vol'] = pd.Series(np.random.rand(100), index = np.arange(100))*100

- Mejor separalos en dos plots

- Hacer plots es como pintar un cuadro, lleva tiempo.
- [Stock chart plots](https://pythonprogramming.net/advanced-matplotlib-graphing-charting-tutorial/).