# Pandas I

- Librería pra el manejo de datos estructurados (dataframes)
- El nombre deriva de **panel data**.
- Desarrollada en 2008 por Wes McKinney como herramienta para el análisis cuantitativo de series temporales basadas en información financiera (cotizaciones).

In [1]:
import pandas as pd

- Las clases básicas de pandas son:
    - **Series** -> Información unidimensional
    - **Dataframes** -> Información tabular

## Series

Estructura de datos que contiene:
- Un numpy array de datos
- Un array de etiquetas (índice)

In [2]:
series = pd.Series([2, 3, 5, -8])
series

0    2
1    3
2    5
3   -8
dtype: int64

- El constructor de la clase (metodo __init__) puede recibir los siguientes parámetros (además de otros)
    - `data`: Datos a almacenar
    - `index`: Índice para los datos (opcional)
    - `dtype`: Tipo de dato para el array de numpy (opcional)
    - `name`: Nombre de la serie (opcional)

In [3]:
pd.Series([0, 1, 2], index = ['a', 'b', 'c'], dtype='object', name='mi_serie')

a    0
b    1
c    2
Name: mi_serie, dtype: object

- Podemos crear series a partir de un diccionario (muy útil)

In [4]:
dic = {key: value for key, value in zip(['a', 'b', 'c'],[0, 1, 2])}
dic

{'a': 0, 'b': 1, 'c': 2}

In [5]:
series = pd.Series(dic)
series

a    0
b    1
c    2
dtype: int64

- Disponemos de dos atributos para recuperar los datos y el índice de una serie de forma independiente

In [6]:
series.values

array([0, 1, 2])

In [7]:
type(series.values)

numpy.ndarray

In [8]:
series.index

Index(['a', 'b', 'c'], dtype='object')

In [9]:
type(series.index)

pandas.core.indexes.base.Index

In [10]:
from utils import midir
midir(series.index)

['T',
 '_accessors',
 '_add_comparison_methods',
 '_add_logical_methods',
 '_add_logical_methods_disabled',
 '_add_numeric_methods',
 '_add_numeric_methods_add_sub_disabled',
 '_add_numeric_methods_binary',
 '_add_numeric_methods_disabled',
 '_add_numeric_methods_unary',
 '_assert_can_do_op',
 '_assert_can_do_setop',
 '_assert_take_fillable',
 '_attributes',
 '_can_hold_identifiers_and_holds_name',
 '_can_hold_na',
 '_can_reindex',
 '_cleanup',
 '_coerce_scalar_to_index',
 '_coerce_to_ndarray',
 '_comparables',
 '_concat',
 '_concat_same_dtype',
 '_constructor',
 '_convert_arr_indexer',
 '_convert_can_do_setop',
 '_convert_for_op',
 '_convert_index_indexer',
 '_convert_list_indexer',
 '_convert_listlike_indexer',
 '_convert_scalar_indexer',
 '_convert_slice_indexer',
 '_convert_tolerance',
 '_data',
 '_deepcopy_if_needed',
 '_defer_to_indexing',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_engine',
 '_engine_type',
 '_evaluate_compare',
 '_evaluate_with_datetime_like',
 '_evaluate_with_timedelta_like',
 '_filter_indexer_tolerance',
 '_format_attrs',
 '_format_data',
 '_format_native_types',
 '_format_space',
 '_format_with_header',
 '_formatter_func',
 '_get_attributes_dict',
 '_get_consensus_name',
 '_get_fill_indexer',
 '_get_fill_indexer_searchsorted',
 '_get_grouper_for_level',
 '_get_level_number',
 '_get_level_values',
 '_get_loc_only_exact_matches',
 '_get_names',
 '_get_nearest_indexer',
 '_get_string_slice',
 '_get_unique_index',
 '_has_complex_internals',
 '_id',
 '_infer_as_myclass',
 '_inner_indexer',
 '_invalid_indexer',
 '_is_memory_usage_qualified',
 '_is_numeric_dtype',
 '_is_strictly_monotonic_decreasing',
 '_is_strictly_monotonic_increasing',
 '_isnan',
 '_join_level',
 '_join_monotonic',
 '_join_multi',
 '_join_non_unique',
 '_join_precedence',
 '_left_indexer',
 '_left_indexer_unique',
 '_map_values',
 '_maybe_cast_indexer',
 '_maybe_cast_slice_bound',
 '_maybe_promote',
 '_maybe_update_attributes',
 '_mpl_repr',
 '_na_value',
 '_nan_idxs',
 '_ndarray_values',
 '_outer_indexer',
 '_reduce',
 '_reindex_non_unique',
 '_reset_cache',
 '_reset_identity',
 '_scalar_data_error',
 '_searchsorted_monotonic',
 '_set_names',
 '_shallow_copy',
 '_shallow_copy_with_infer',
 '_simple_new',
 '_sort_levels_monotonic',
 '_string_data_error',
 '_summary',
 '_to_embed',
 '_to_safe_for_reshape',
 '_try_convert_to_int_index',
 '_typ',
 '_unpickle_compat',
 '_update_inplace',
 '_validate_for_numeric_binop',
 '_validate_for_numeric_unaryop',
 '_validate_index_level',
 '_validate_indexer',
 '_validate_names',
 '_values',
 '_wrap_joined_index',
 '_wrap_union_result',
 'all',
 'any',
 'append',
 'argmax',
 'argmin',
 'argsort',
 'asi8',
 'asof',
 'asof_locs',
 'astype',
 'contains',
 'copy',
 'delete',
 'difference',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtype',
 'dtype_str',
 'duplicated',
 'empty',
 'equals',
 'factorize',
 'fillna',
 'format',
 'get_duplicates',
 'get_indexer',
 'get_indexer_for',
 'get_indexer_non_unique',
 'get_level_values',
 'get_loc',
 'get_slice_bound',
 'get_value',
 'get_values',
 'groupby',
 'has_duplicates',
 'hasnans',
 'holds_integer',
 'identical',
 'inferred_type',
 'insert',
 'intersection',
 'is_',
 'is_all_dates',
 'is_boolean',
 'is_categorical',
 'is_floating',
 'is_integer',
 'is_interval',
 'is_lexsorted_for_tuple',
 'is_mixed',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_numeric',
 'is_object',
 'is_type_compatible',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'join',
 'map',
 'max',
 'memory_usage',
 'min',
 'name',
 'names',
 'nbytes',
 'ndim',
 'nlevels',
 'notna',
 'notnull',
 'nunique',
 'putmask',
 'ravel',
 'reindex',
 'rename',
 'repeat',
 'searchsorted',
 'set_names',
 'set_value',
 'shape',
 'shift',
 'size',
 'slice_indexer',
 'slice_locs',
 'sort',
 'sort_values',
 'sortlevel',
 'str',
 'summary',
 'symmetric_difference',
 'take',
 'to_frame',
 'to_native_types',
 'to_series',
 'tolist',
 'transpose',
 'union',
 'unique',
 'value_counts',
 'values',
 'view',
 'where']

- Se pueden extraer los elementos de la serie utilizando el índice

In [11]:
series['b']

1

- Podemos modificar elementos puntuales de la serie

In [12]:
series['c'] = 1000
series

a       0
b       1
c    1000
dtype: int64

- No podemos modificar elementos puntuales del índice

In [13]:
series.index[0] = 'z'

TypeError: Index does not support mutable operations

- Pero si podemos sustituir el índice completo por otro

In [14]:
series.index = ['a_1', 'b_1', 'c_1']
series

a_1       0
b_1       1
c_1    1000
dtype: int64

- Mayormente el comportamiento en operaciones comunes es como el de un numpy array
- Sin embargo, el resultado de operaciones vectorizadas es una serie y no un numpy array.

In [15]:
series > 0

a_1    False
b_1     True
c_1     True
dtype: bool

In [16]:
series * 2

a_1       0
b_1       2
c_1    2000
dtype: int64

- En general, debemos asegurarnos de cómo está implementada la operación

In [17]:
series

a_1       0
b_1       1
c_1    1000
dtype: int64

In [ ]:
busca en los indices no en los valores:

In [18]:
1 in series

False

In [19]:
'a_1' in series

True

In [20]:
1 in series.values

True

- Podemos aplicar operaciones de numpy directamente sobre la serie

In [21]:
import numpy as np

In [22]:
series = pd.Series(np.random.rand(5))
series

0    0.429971
1    0.108539
2    0.057355
3    0.772422
4    0.089587
dtype: float64

In [23]:
np.exp(series)

0    1.537214
1    1.114648
2    1.059032
3    2.165003
4    1.093723
dtype: float64

- Podemos acceder a través de los métodos de la serie a varias funciones de agregación

In [24]:
series.mean()

0.2915747786542954

In [25]:
series.median()

0.10853890287693335

In [26]:
%%timeit
series.mean()

64.8 µs ± 2.44 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [27]:
%%timeit
np.mean(series)

73.2 µs ± 2.86 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [28]:
%%timeit
np.mean(series.values)

16.8 µs ± 795 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

- Las estructuras de pandas están optimizadas, pero en general es mucho más rápido trabajar directamente con numpy arrays
- Si necesitamos velocidad, numpy es con diferencia la elección adecuada

- Existen muchísimos métodos y atributos asociados a las series
- Se van descubriendo a medida que los vamos necesitando

In [29]:
from utils import midir
midir(series)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_create_indexer',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_formatting_values',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_space_character_free_column_resolvers',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'as_matrix',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'autocorr',
 'axes',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'compress',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_array',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'nonzero',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'ptp',
 'put',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_msgpack',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

## Dataframes

- Estructura tabular
- Tiene un índice para las filas y otro para las columnas
- Cada columna puede contener un tipo de numpy diferente

- El constructor de la clase puede recibir los siguientes parámetros (además de otros)
    - `data`: Datos a almacenar
    - `index`: Índice para los datos (opcional)
    - `columns`: Etiquetas de las columnas del dataframe (opcional)
    - `dtype`: Tipo de dato para el array de numpy (opcional)

- La construcción del dataframe suele hacerse a partir de diccionarios (aunque hay otras formas)

In [29]:
data = {'ciudad': ['Madrid', 'Barcelona', 'Bilbao', 'Valencia', 'Sevilla', 'Teruel', 'Soria'],
        'pop': [5.2, 4.8, 2.1, 1.8, 2, 0.8, 0.2],
        'bolsa': [True, True, True, True, False, False, False]}

In [30]:
df = pd.DataFrame(data, index = np.arange(1, 8))
df

      ciudad  pop  bolsa
1     Madrid  5.2   True
2  Barcelona  4.8   True
3     Bilbao  2.1   True
4   Valencia  1.8   True
5    Sevilla  2.0  False
6     Teruel  0.8  False
7      Soria  0.2  False

- Algunas funcionalidades básicas

In [32]:
df.head()

      ciudad  pop  bolsa
1     Madrid  5.2   True
2  Barcelona  4.8   True
3     Bilbao  2.1   True
4   Valencia  1.8   True
5    Sevilla  2.0  False

In [33]:
df.head(2)

      ciudad  pop  bolsa
1     Madrid  5.2   True
2  Barcelona  4.8   True

In [34]:
df.tail()

     ciudad  pop  bolsa
3    Bilbao  2.1   True
4  Valencia  1.8   True
5   Sevilla  2.0  False
6    Teruel  0.8  False
7     Soria  0.2  False

- Al igual que en las series, tenemos acceso al índice y en este caso también a las columnas

In [35]:
df.index

Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [36]:
df.columns

Index(['ciudad', 'pop', 'bolsa'], dtype='object')

In [37]:
df.values

array([['Madrid', 5.2, True],
       ['Barcelona', 4.8, True],
       ['Bilbao', 2.1, True],
       ['Valencia', 1.8, True],
       ['Sevilla', 2.0, False],
       ['Teruel', 0.8, False],
       ['Soria', 0.2, False]], dtype=object)

- Podemos cambiar el nombre de las columnas (de forma completa) no individualmente

In [38]:
df.columns[0] = 'city'

TypeError: Index does not support mutable operations

In [39]:
df.columns = ['city', 'pop', 'bolsa']
df

        city  pop  bolsa
1     Madrid  5.2   True
2  Barcelona  4.8   True
3     Bilbao  2.1   True
4   Valencia  1.8   True
5    Sevilla  2.0  False
6     Teruel  0.8  False
7      Soria  0.2  False

- Podemos recuperar los elementos de las columnas de varias formas

In [40]:
df['city']

1       Madrid
2    Barcelona
3       Bilbao
4     Valencia
5      Sevilla
6       Teruel
7        Soria
Name: city, dtype: object

In [41]:
df.city

1       Madrid
2    Barcelona
3       Bilbao
4     Valencia
5      Sevilla
6       Teruel
7        Soria
Name: city, dtype: object

In [42]:
type(df.city)

pandas.core.series.Series

- Existen dos métodos para acceder a los elementos del dataframe
    - `loc` -> Accedemos a través del valor de los índices
    - `iloc` -> Accedemos con las 'coordenadas' del elemento

In [42]:
df

        city  pop  bolsa
1     Madrid  5.2   True
2  Barcelona  4.8   True
3     Bilbao  2.1   True
4   Valencia  1.8   True
5    Sevilla  2.0  False
6     Teruel  0.8  False
7      Soria  0.2  False

In [43]:
df.loc[1, 'pop']

5.2

In [44]:
df.iloc[0, 1]

5.2

In [45]:
df['pop'].loc[1]

5.2

In [46]:
df.loc[:, 'bolsa']

1     True
2     True
3     True
4     True
5    False
6    False
7    False
Name: bolsa, dtype: bool

- Podemos asignar valores a los elementos del dataframe o a las columnas enteras

In [47]:
df

        city  pop  bolsa
1     Madrid  5.2   True
2  Barcelona  4.8   True
3     Bilbao  2.1   True
4   Valencia  1.8   True
5    Sevilla  2.0  False
6     Teruel  0.8  False
7      Soria  0.2  False

In [48]:
df.loc[1, 'pop'] = 100
df

        city    pop  bolsa
1     Madrid  100.0   True
2  Barcelona    4.8   True
3     Bilbao    2.1   True
4   Valencia    1.8   True
5    Sevilla    2.0  False
6     Teruel    0.8  False
7      Soria    0.2  False

 mejor usar esta forma que df.nueva ya que a veces crea un atributo y n una columna y da problemas

In [49]:
df['nueva'] = None
df

        city    pop  bolsa nueva
1     Madrid  100.0   True  None
2  Barcelona    4.8   True  None
3     Bilbao    2.1   True  None
4   Valencia    1.8   True  None
5    Sevilla    2.0  False  None
6     Teruel    0.8  False  None
7      Soria    0.2  False  None

In [50]:
df.nueva = 1
df

        city    pop  bolsa  nueva
1     Madrid  100.0   True      1
2  Barcelona    4.8   True      1
3     Bilbao    2.1   True      1
4   Valencia    1.8   True      1
5    Sevilla    2.0  False      1
6     Teruel    0.8  False      1
7      Soria    0.2  False      1

In [51]:
df.masnueva = 'Hola!'
df

        city    pop  bolsa  nueva
1     Madrid  100.0   True      1
2  Barcelona    4.8   True      1
3     Bilbao    2.1   True      1
4   Valencia    1.8   True      1
5    Sevilla    2.0  False      1
6     Teruel    0.8  False      1
7      Soria    0.2  False      1

In [52]:
df.masnueva

'Hola!'

- Si asignamos a una columna una serie, la información se ajusta de forma que los índices coincidan

In [56]:
series = pd.Series([2, 3, 4], index=[6, 2, 3])
df['nueva'] = series
df

        city    pop  bolsa  nueva
1     Madrid  100.0   True    NaN
2  Barcelona    4.8   True    3.0
3     Bilbao    2.1   True    4.0
4   Valencia    1.8   True    NaN
5    Sevilla    2.0  False    NaN
6     Teruel    0.8  False    2.0
7      Soria    0.2  False    NaN

- Para los índices en los que no hay información, se completan con NaN

In [57]:
df.iloc[0, -1]

nan

In [58]:
type(_)

numpy.float64

- Podemos realizar asignaciones más complejas

In [59]:
df.loc[df.index>3]

       city  pop  bolsa  nueva
4  Valencia  1.8   True    NaN
5   Sevilla  2.0  False    NaN
6    Teruel  0.8  False    2.0
7     Soria  0.2  False    NaN

In [60]:
df.loc[df.index>3, 'nueva'] = 5
df

        city    pop  bolsa  nueva
1     Madrid  100.0   True    NaN
2  Barcelona    4.8   True    3.0
3     Bilbao    2.1   True    4.0
4   Valencia    1.8   True    5.0
5    Sevilla    2.0  False    5.0
6     Teruel    0.8  False    5.0
7      Soria    0.2  False    5.0

- Podemos eliminar columnas directamente
- mejor no usar este y usar el drop siguiente

In [63]:
del df['nueva']
df

KeyError: 'nueva'

- O tilizando el método `drop` que sirve para eliminar filas o columnas

In [64]:
df.drop('pop', axis=1)
df

        city    pop  bolsa
1     Madrid  100.0   True
2  Barcelona    4.8   True
3     Bilbao    2.1   True
4   Valencia    1.8   True
5    Sevilla    2.0  False
6     Teruel    0.8  False
7      Soria    0.2  False

In [65]:
df_2 = df.drop('pop', axis=1)
df_2

        city  bolsa
1     Madrid   True
2  Barcelona   True
3     Bilbao   True
4   Valencia   True
5    Sevilla  False
6     Teruel  False
7      Soria  False

- Muchos de los métodos de pandas tienen un parámetro `inplace` que especifica si la operación debe hacerse inpalce o no.

In [66]:
df.drop(5, axis=0, inplace=True)
df

        city    pop  bolsa
1     Madrid  100.0   True
2  Barcelona    4.8   True
3     Bilbao    2.1   True
4   Valencia    1.8   True
6     Teruel    0.8  False
7      Soria    0.2  False

In [67]:
df.drop([1, 2, 7], axis=0, inplace=True)
df

       city  pop  bolsa
3    Bilbao  2.1   True
4  Valencia  1.8   True
6    Teruel  0.8  False

- Podemos recuperar los datos como un diccionario de Python

In [68]:
df.to_dict()

{'city': {3: 'Bilbao', 4: 'Valencia', 6: 'Teruel'},
 'pop': {3: 2.1, 4: 1.8, 6: 0.8},
 'bolsa': {3: True, 4: True, 6: False}}

In [69]:
df.T.to_dict()

{3: {'city': 'Bilbao', 'pop': 2.1, 'bolsa': True},
 4: {'city': 'Valencia', 'pop': 1.8, 'bolsa': True},
 6: {'city': 'Teruel', 'pop': 0.8, 'bolsa': False}}